@page "/signOut"
@using Visitor.Data
@using Visitor.Models
@inject DatabaseHandler DbHandler
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@using System.Net

<h3>Sign Out</h3>

<div class="container">
    <div class="row bg-light">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>DateTime In</th>
                    <th>DateTime Out</th>
                </tr>
            </thead>
            <tbody>
                @if (Visitors.Any()){
                    @foreach (var visitor in Visitors) {
                <tr>
                    <td>@visitor.FullName</td>
                    <td>@visitor.Company</td>
                    <td>@visitor.Datetime_In</td>
                    @if (visitor.IsSignedIn) {
                        <td><button class="btn btn-primary" @onclick="(() => SignOutVisitor(visitor))">Sign Out</button></td>
                    }
                    else
                    {
                        <td>@visitor.Datetime_Out</td>
                    }
                </tr>
                    }
                }
                else
                {
                    <tr><td colspan="6"><strong>No Visitors available</strong></td></tr>
                }
            </tbody>
        </table>
    </div>
</div>




@code {
    List<VisitorModel> Visitors = new List<VisitorModel>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshVisitors();
    }
    private async Task RefreshVisitors()
    {
        string ip = httpContextAccessor.HttpContext.Connection?.RemoteIpAddress.ToString();
        if (ip == "::1")
        {
            ip =
            Dns.GetHostEntry(Dns.GetHostName()).AddressList[2].ToString();
        }

        Visitors = await DbHandler.GetVisitorsForStore(ip);
    }

    private async Task SignOutVisitor(VisitorModel visitor)
    {
        //if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to sign out '{visitor.FullName}'?"))
        //    return;

        await DbHandler.UpdateVisitor(visitor.Id);
        await RefreshVisitors();
    }



}
